In [ ]:
#1. Data Overview
# This dataset contains information about daily water intake and its related factors in individuals.

In [37]:
#2. Load dataset and import necessary libraries
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
#Data source
df = pd.read_csv('../data/raw_Daily_Water_Intake.csv')

In [55]:
#3. Database Shape - Get the total number of rows and columns from the dataframe
df.shape 
#This dataset consists of 30000 rows and 7 columns

(30000, 7)

In [ ]:
#4. Data Types & Schema - Get data types and non-null counts for each column
df.info()
df.dtypes

# There are no missing values in any of the columns.
# The data types of the columns are appropriate for analysis.

In [ ]:
#5. Table Overview - Get 5 sample rows from the dataframe
df.head()

In [58]:
#6. Column Descriptions - Based on df.head(), df.info() and df.types
df_columnDescription = pd.DataFrame({ "Column Name": [
        "Age",
        "Gender",
        "Weight",
        "Daily Water Intake",
        "Physical Activity Level",
        "Weather",
        "Hydration Level"
    ],
    "Description": [
        "Age of each person",
        "Gender of each person",
        "Weight of each person in kilograms (kg)",
        "Daily water consumption in liters",
        "Physical activity level (Low, Moderate, High)",
        "Weather condition (Hot, Normal, Cold)",
        "Hydration status (Good, Poor)"
    ]}
    )
print(df_columnDescription.to_markdown(tablefmt="grid"))

# There are Age, Gender, Weight, Daily Water Intake, Physical Activity Level, Weather and Hydration Level columns in the dataset.

+----+-------------------------+-----------------------------------------------+
|    | Column Name             | Description                                   |
+====+=========================+===============================================+
|  0 | Age                     | Age of each person                            |
+----+-------------------------+-----------------------------------------------+
|  1 | Gender                  | Gender of each person                         |
+----+-------------------------+-----------------------------------------------+
|  2 | Weight                  | Weight of each person in kilograms (kg)       |
+----+-------------------------+-----------------------------------------------+
|  3 | Daily Water Intake      | Daily water consumption in liters             |
+----+-------------------------+-----------------------------------------------+
|  4 | Physical Activity Level | Physical activity level (Low, Moderate, High) |
+----+-------------------------+-----------------------------------------------+
|  5 | Weather                 | Weather condition (Hot, Normal, Cold)         |
+----+-------------------------+-----------------------------------------------+
|  6 | Hydration Level         | Hydration status (Good, Poor)                 |
+----+-------------------------+-----------------------------------------------+

In [ ]:
#5. Get statistical summary of numerical columns
df.describe()

                Age  Weight (kg)  Daily Water Intake (liters)
count  30000.000000  30000.00000                 30000.000000
mean      43.467667     76.84860                     2.852444
std       14.998940     18.74494                     0.835537
min       18.000000     45.00000                     1.500000
25%       30.000000     61.00000                     2.220000
50%       43.000000     77.00000                     2.830000
75%       56.000000     93.00000                     3.440000
max       69.000000    109.00000                     5.430000

In [ ]:
#6. Nulls - Check for missing values in each column
df.isna().sum()
df[df.isna().any(axis=1)]

# There are no nulls in every column
# Summary of missing values
missing_summary = pd.DataFrame({
    "Number of missing values": df.isna().sum(),
    "Percentage of missing values": df.isna().mean() * 100
}).sort_values(by="Number of missing values", ascending=False)

missing_summary

In [ ]:
#7. Duplicate - Check for duplicate rows in the dataframe
df.duplicated().sum() #Assign dataframe to duplicate and sum method
# There are 338 duplicated rows

# Show duplicated rows
df[df.duplicated()] #By assigning the duplicated rows to a new dataframe
# The cleaning step will not be performed now, it will be done in the data cleaning notebook.

duplicate_summary = pd.DataFrame({
    "Number of duplicated rows" :[df.duplicated().sum()],
    "Percentage of duplicated rows": [df.duplicated().mean() * 100]
})

duplicate_summary

In [ ]:
#8. Data Summary - Summary of findings from the data understanding step