In [ ]:
#1. Import dataset
import pandas as pd 
#Data source
df = pd.read_csv('../data/raw_Daily_Water_Intake.csv')
#Look at the first few rows of the dataframe
df.head()

In [ ]:
#2. Get the total number of rows and columns from the dataframe
df.shape 

#1. 30000 rows and 7 columns

In [ ]:
#3. Get detailed information about the dataframe
df.info()

# 1. There are no missing values in any of the columns.
# 2. The data types of the columns are appropriate for analysis.

In [ ]:
#4. Get each column's data type
df.dtypes

#All columns have appropriate data type for further analysis.

In [15]:
#4. Nulls - Check for missing values in each column
df.isna().sum()
df[df.isna().any(axis=1)]

# There are no nulls in every column
# Summary of missing values
missing_summary = pd.DataFrame({
    "Number of missing values": df.isna().sum(),
    "Percentage of missing values": df.isna().mean() * 100
}).sort_values(by="Number of missing values", ascending=False)

missing_summary

,Number of missing values,Percentage of missing values
Age,0,0.0
Gender,0,0.0
Weight (kg),0,0.0
Daily Water Intake (liters),0,0.0
Physical Activity Level,0,0.0
Weather,0,0.0
Hydration Level,0,0.0

In [ ]:
#5. Duplicate - Check for duplicate rows in the dataframe
df.duplicated().sum() #Assign dataframe to duplicate and sum method
# There are 338 duplicated rows

# Show duplicated rows
df[df.duplicated()] #By assigning the duplicated rows to a new dataframe
# The cleaning step will not be performed now, it will be done in the data cleaning notebook.

duplicate_summary = pd.DataFrame({
    "Number of duplicated rows" :[df.duplicated().sum()],
    "Percentage of duplicated rows": [df.duplicated().mean() * 100]
})

duplicate_summary

   Number of duplicated rows  Percentage of duplicated rows
0                        338                       1.126667