#1. Cleaning Overview
Based on data understanding stage, the problem with this dataset is duplicated data and column name

In [2]:
#2. Load Dataset 
import pandas as pd 

# Data source
df_raw = pd.read_csv('../data/raw_Daily_Water_Intake.csv')

In [4]:
#3. Clean Duplicated Data

# Validate the duplicated data
data_duplicated = df_raw.duplicated(keep=False)
df_raw[data_duplicated].sort_values(df_raw.columns.tolist())

# Drop duplicate data and use the last one, because this dataset didn't provide explicit timestamp
df_single = df_raw.drop_duplicates(keep='last')

# Check table shape
df_single.shape

(29662, 7)

In [5]:
#4. Column Name Correction

# Checkking column names
df_single.head()

# Convert column names to lowercase, replace space with underscore and delete parentheses 
df_single.columns = (
    df_single.columns
    .str.strip()
    .str.replace(' ','_')
    .str.replace(r'[()]','',regex=True)
    .str.lower()
)

# Assign new dataframe to df_clean and print
df_clean = df_single.copy()
df_clean.head()

,age,gender,weight_kg,daily_water_intake_liters,physical_activity_level,weather,hydration_level
0,56,Male,96,4.23,Moderate,Hot,Good
1,60,Male,105,3.95,High,Normal,Good
2,36,Male,68,2.39,Moderate,Cold,Good
3,19,Female,74,3.13,Moderate,Hot,Good
4,38,Male,77,2.11,Low,Normal,Poor

Every duplicated rows were already identified and deleted from the dataset. The last data recorded from duplicated data is used based on file ordering, as no timestamp column was provided in this dataset.

In [6]:
#5. Export clean data
df_clean.to_csv('../data/clean_Daily_Water_Intake.csv', index=False)