#1. This data exploratory processs is to understand relationship, distribution and uncover insight related to daily water intake.

In [1]:
#2. Load Clean Data
import pandas as pd
df_clean = pd.read_csv('../data/clean_Daily_Water_Intake.csv')
df_clean.head()

,age,gender,weight_kg,daily_water_intake_liters,physical_activity_level,weather,hydration_level,age_group
0,56,Male,96,4.23,Moderate,Hot,Good,36-60
1,60,Male,105,3.95,High,Normal,Good,36-60
2,36,Male,68,2.39,Moderate,Cold,Good,36-60
3,19,Female,74,3.13,Moderate,Hot,Good,18-25
4,38,Male,77,2.11,Low,Normal,Poor,36-60

In [7]:
#3. Average daily water consumption per age group
avg_water_age = df_clean["daily_water_intake_liters"].sum()/df_clean["age"].sum()


avg_water_age_group = df_clean.groupby("age")["daily_water_intake_liters"].mean()

In [2]:
df_clean.groupby("age_group")["daily_water_intake_liters"].mean()

age_group
18-25       2.949442
26-35       2.961959
36-60       2.860064
Above 60    2.690678
Name: daily_water_intake_liters, dtype: float64